<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> 
        <title>FlaskBerry</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static', filename='img/favicon-book.ico') }}?v={{1.0.0}}">
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.5/css/tachyons.min.css"/>
    </head>
    <nav class="db dt-l w-100 border-box pa3">
        <a class="db dtc-l v-mid mid-gray link hover-green tc tl-l mb2 mb0-l" href="{{ url_for('index') }}" title="FlaskBerry">
            <img src="https://cdn2.iconfinder.com/data/icons/hand-drawn-academic-icons-2/300/handdrawn-flask-128.png" class="dib w2 h2 br-100" alt="FlaskBerry">
        </a>
        <div class="db dtc-l v-mid tc tl-l mb2 mb0-l">
            {% block search %}
            {% endblock search %}
        </div>
        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
            <a class="link hover-green dark-gray f6 f5-l dib mr3 mr4-l" href="{{ url_for('books') }}" title="Home"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Library</a>
            <a class="link hover-green dark-gray f6 f5-l dib mr3 mr4-l" href="{{ url_for('authors') }}" title="How it Works"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Authors</a>
            <a class="link hover-green dark-gray f6 f5-l dib mr3 mr4-l" href="{{ url_for('customers') }}" title="Blog"><i class="fa fa-users fa-fw" aria-hidden="true"></i> Customers</a>
            <a class="link hover-green dark-gray f6 f5-l dib mr3 mr4-l" href="{{ url_for('genres') }}" title="Blog"><i class="fa fa-folder-open fa-fw" aria-hidden="true"></i> Genres</a>
            <a class="link hover-green dark-gray f6 f5-l dib mr3 mr4-l" href="{{ url_for('add_book') }}" title="Press"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Book</a>
        </div>
    </nav>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
    {% block scripts %}
    {% endblock %}
</html>
