{% extends "base.html" %}
{% block body %}
<article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10 relative">
    <form method="post" action="{{ url_for('delete_book', isbn=book.isbn) }}">
        <button class="hover-red pointer bn button-reset bg-white absolute bottom-1 right-1" type="submit"><i class="fa fa-trash fa-fw" aria-hidden="true"></i></button>
    </form>
    <div class="tc">
        <img src="{{ book.img }}" alt="{{ book.title }} - Book Cover" class="center db br3">
        <h1 class="f4">{{ book.title }}</h1>
        <hr class="mw3 bb bw1 b--black-10">
    </div>
    <p class="lh-copy measure center tc f6 black-70">
        <b>Author: </b>
        {% for author in book.authors %}
            <a class="link" href="{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </p>
    <p class="lh-copy measure center tc f6 black-70">
        <b>ISBN: </b> {{ book.isbn }}
    </p>
    <p class="lh-copy measure center tc f6 black-70">
        <b>Copies: </b> {{ book.num_copies }}
    </p>
    <p class="lh-copy measure center tc f6 black-70">
        <b>Genres: </b>
        {% for genre in book.genres %}
            {{ genre }}
        {% endfor %}
    </p>
    <form class="tc pv3">
        <input class="b green ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Checkout">
    </form>
</article>
{% endblock %}
