{% extends "base.html" %}
{% block body %}
<article class="mw7 center br3 pa3 pa4-ns mv3 ba b--black-10">
    <form method="post" accept-charset="utf-8">
        {{ form.hidden_tag() }}
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="ph0 mh0 fw6 clip">Login</legend>
            <div class="mt3">
                <label class="db fw4 lh-copy f6" for="title">Title</label>
                <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="title" id="title" value="{{ form.title.data }}">
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <p class="dark-red">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mt3">
                <label class="db fw4 lh-copy f6" for="subtitle">Subtitle</label>
                <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="subtitle" id="subtitle", value="{{ form.subtitle.data }}">
                {% if form.subtitle.errors %}
                    {% for error in form.subtitle.errors %}
                        <p class="dark-red">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="mt3">
                <label class="db fw4 lh-copy f6" for="img">Image URL</label>
                <input class="pa2 input-reset ba bg-transparent w-100 measure" type="text" name="img" id="img", value="{{ form.img.data }}">
                {% if form.img.errors %}
                    {% for error in form.img.errors %}
                        <p class="dark-red">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="mt3"><input class="b ph3 pv2 input-reset green ba b--black bg-transparent grow pointer f6" type="submit" value="Update Book"></div>
    </form>
</article>
{% endblock %}
{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
