{% extends "base.html" %}

{% block body %}

<h1 class="pl4 f3 lh-copy tc"><i class="fa fa-user fa-fw" aria-hidden="true"></i> {{ customer }}</h1>

{% if customer.unreturned_loans %}
    <h1 class="pl4 f3 lh-copy black-70"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i> Unreturned Books</h1>
    <article>
        <div class="cf pa2">
            {% for loan in customer.unreturned_loans %}
                <div class="fl w-50 w-25-m w-10-l pa3">
                    <a href="{{ loan.book_copy.book.url }}" class="db link dim tc">
                        <div class="aspect-ratio aspect-ratio--3x4 mb4">
                            <div class="aspect-ratio--object br4 cover" style="background:url( {{loan.book_copy.book.img}} );"></div>
                        </div>
                        <dl class="mt2 f6 lh-copy">
                            <dt class="clip">Title</dt>
                            <dd class="ml0 black truncate w-100">{{ loan.book_copy.book.title }}</dd>
                            <dt class="clip">Author</dt>
                            <dd class="ml0 gray truncate w-100">{{ loan.book_copy.book.author_names }}</dd>
                            <dt class="clip">Due</dt>
                            <dd class="ml0 green truncate w-100">{{ loan.due_in }}</dd>
                        </dl>
                    </a>
                </div>
            {% endfor %}
        </div>
        <form class="pl4" method="post" action="{{ url_for('bulk_return', slug=customer.slug) }}" accept-charset="utf-8">
            <div class="mt3"><input class="b ph3 pv2 input-reset green ba b--black bg-transparent grow pointer f6" type="submit" value="Return All"></div>
        </form>
    </article>
{% endif %}

{% if customer.read_list %}
    <article>
    <h1 class="pl4 pt4 f3 lh-copy black-70"><i class="fa fa-book fa-fw" aria-hidden="true"></i> Read List</h1>
    {% for book in customer.read_list %}
        <div class="fl w-50 w-25-m w-10-l pa3">
            <a href="{{ book.url }}" class="db link dim tc">
                <div class="aspect-ratio aspect-ratio--3x4 mb4">
                    <div class="aspect-ratio--object cover br4 cover" style="background:url( {{book.img}} );"></div>
                </div>
                <dl class="mt2 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black truncate w-100">{{ book.title }}</dd>
                    <dt class="clip">Author</dt>
                    <dd class="ml0 gray truncate w-100">{{ book.author_names }}</dd>
                </dl>
            </a>
        </div>
    {% endfor %}
    </article>
{% endif %}

{% endblock body %}
