{% extends "base.html" %}
{% block body %}
<main class="mw6 center">
<article>
    {% for customer in customers %}
        <a class="link dt w-100 bb b--black-10 pb2 pt3 mt3 dim" href="{{ customer.url }}">
            <div class="dtc v-top pl2 mt2">
                <h1 class="f6 f5-ns fw6 lh-title black mv0">{{ customer }}</h1>
            </div>
        </a>
        {% for book in customer.read_list %}
            <p>
                <span class="pv2 ph3 tl">
                    <a href="" class="link">{{ book.title }} </a>
                </span>
            </p>
        {% endfor %}
    {% endfor %}
</article>
</main>
{% endblock body %}
