{% extends "base.html" %}
{% block body %}
<article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
    <div class="tc">
        <img src="{{ book.img }}" class="dib" title="Book Cover">
        <h1 class="f4">{{ book.title }}</h1>
        <hr class="mw3 bb bw1 b--black-10">
    </div>
    <p class="lh-copy measure center tc f6 black-70">
        <b>Author: </b> {{ book.author }}
    </p>
    <p class="lh-copy measure center tc f6 black-70">
        <b>Loaned By: </b> {{ book.lender }}
    </p>
</article>
{% endblock %}
