{% extends "base.html" %}
{% block body %}
<article>
    <div class="cf pa2">
        {% for book in books %}
        <div class="fl w-50 w-25-m w-10-l pa2">
            <a href="{{ book.url() }}" class="db link dim tc">
                <img src="{{ book.img }}" alt="book.img" class="br4 ba b--black-10 w-100 db"/>
                <dl class="mt2 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black truncate w-100">{{ book.title }}</dd>
                    <dt class="clip">Subtitle</dt>
                    <dd class="ml0 gray truncate w-100">{{ book.subtitle }} </dd>
                    <dt class="clip">Author</dt>
                    <dd class="ml0 gray truncate w-100">{{ book.author }} </dd>
                </dl>
            </a>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock body %}
